<!DOCTYPE html>
<html lang="{{ .Language.Lang }}"> <!-- maltese or eng is stored in Lang-->
<head> <!--METADATA-->
  <meta charset="utf-8"> <!--character encoding for them maltese letters-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" /> <!--set page to screen's width (different devices)-->
  <meta name="referrer" content="no-referrer-when-downgrade" /> <!--external links must also be httpS-->
  
  <!--the BROWSER icon rendered here-->
  {{with .Site.Params.browserIcon}}
    <link rel="icon" type="image/png" href="{{ . | absURL }}" />
  {{ end }}

  <!--preview for linking-->
  {{- partial "seo_tags.html" . -}}

  <!--for RSS readers-->
  {{ with .OutputFormats.Get "rss" -}}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}


  {{- partial "style.html" . -}}
</head>

<!--ACTUAL STUFF HERE: -->

<body>
  <header>
    {{- partial "header.html" . -}}
  </header>

  <main>
    {{- block "main" . }}{{- end }}
  </main>

  <footer>
    {{- partial "footer.html" . -}}
  </footer>
</body>
</html>
